@media only screen and (orientation: portrait) {
    .container {
      flex-direction: column;
    }
  
    .sidebar, 
    .main-content, 
    .description {
      width: 100%;
      flex: none;
    }
  
    .description {
      order: 3; 
    }
  
    .main-content {
      order: 2;
    }
  
    .sidebar {
      order: 1;
    }
  }