* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #e0f7fa;
  font-family: Arial, sans-serif;
  font-size: large;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#example-link {
  color: #127cff;
  font-size: 0.9em;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-width: 100vw;
}

.sidebar {
  flex: 1;
  background-color: #042131;
  color: white;
  align-items: center;
  padding: 1%;
  border-radius: 15px;
  overflow-y: auto;
}
#mainmenu {
  flex: 2;
  max-width: 50vh;
}

.side1 {
  flex: 1;
}
.side2 {
  flex: 1;
}

#ball1 {
  position: relative;
  width: 100%; 
}
#ball2 {
  position: relative;
  width: 100%; 
}

.nav-item {
  border: solid 2.5px;
  border-color: black;
  border-radius: 5px;
  font-weight: bold;
  overflow: hidden; /* Ensures no overflow outside the box */
  white-space: nowrap; /* Prevent text from wrapping to next line */
  text-overflow: ellipsis; /* Adds ellipsis (...) for overflow text */
  max-width: 100%; /* Ensures it uses full available width */
  box-sizing: border-box;
}

.parent-option {
  cursor: pointer;
  padding: 15px;
  background-color: #005082;
  text-align: center;
}

.child-options {
  display: none;
  flex-direction: column;
  width: 100%;
}

.child-option {
  padding: 10px;
  background-color: #0ba4bf;
  text-align: center;
  cursor: pointer;
}

.main-content {
  flex: 2.5;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.video-container {
  position: relative;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  background-color: black;
}

.video-container:before {
  content: "";
  display: block;
  padding-bottom: 81.2%; /* Aspect ratio of the video (864/1064) */
}

#animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.description {
  width: 20%;
  padding: 20px;
  border-left: 1px solid #cccccc; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
  
.description h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}
  
.description p {
  font-size: 0.8em;
  color: #666;
}
  
#timeline {
  width: 100%;
}

#play-pause {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #2196F3;
  flex: 0 0 auto;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

#play-pause:hover {
  background-color: #0b7dda;
}
